{% load i18n %}
<section class="front-page">
    <h3>{% trans "Public registrations" %}</h3>
    <div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                {% for h in headers %}
                <th scope="col">{% trans h %}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for pr in public_registrations %}
            <tr>
                <th scope="row"><img class="gravatar" src="{{ pr.gr_url }}" /></th>
                {% for f in pr.fields %}
                <td>{{ f }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</section>
